
<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-33" id="total-order">
                <div class="card-header">
                    <h5 class="card-title">Total Orders</h5>  
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
            </div>

        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-33" id="orders-delivered">
                <div class="card-header">
                    <h5 class="card-title">Orders Delivered</h5>  
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
            </div>

        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-33" id="order-pending">
                <div class="card-header">
                    <h5 class="card-title">Orders pending</h5>  
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
            </div>

        </div>
    </div>
</div>